/**
 * Columns
 */

@include columns($grid-column-amount, $grid-column-prefix, $grid-column-suffix);

@if $responsive-enabled == true {
    @each $breakpoint in $responsive-breakpoints {
        @media #{nth($breakpoint, 2)} {
            @include columns($grid-column-amount, $grid-column-prefix, $grid-column-suffix: '-#{nth($breakpoint, 1)}');
        }
    }
}
