/**
 * Columns
 * Generates percentage columns based on the parameters given.
 *
 * $columns {int}    - Number of columns
 * $prefix  {string} - CSS class name prefix for the column classes.
 * $suffix  {string} - CSS class name suffix for the column classes.
 */

@mixin columns($grid-column-amount, $grid-column-prefix, $grid-column-suffix) {
    .#{$grid-column-prefix}col#{$grid-column-suffix}--hide {
        display: none;
    }

    @for $i from 1 through $grid-column-amount {
        .#{$grid-column-prefix}col#{$grid-column-suffix}--#{$i}-#{$grid-column-amount} {
            width: (100% / $grid-column-amount * $i);
        }
    }
}
