/**
 * Grid
 */

.grid {
    margin-right: $grid-column-gutter * -1;
}

.grid--center {
    text-align: center;
}

.grid--right {
    text-align: right;
}


    .grid__item {
        display: inline-block;
        padding-right: $grid-column-gutter;
        text-align: left;
        vertical-align: top;
    }

    .grid__item--narrow {
        padding-right: 0;
    }
