/**
 * Settings
 * 1. The key is used as grid prefix e. g. 'mobile' becomes '.col-mobile--3-12'.
 */

$grid-column-amount: 12;
$grid-column-prefix: '';
$grid-column-suffix: '';
$grid-column-gutter: 24px;

$responsive-enabled:     true;
$responsive-breakpoints: ( /* [ 1 ] */
    'mobile': 'screen and (max-width: 480px)',
    'tablet': 'screen and (min-width: 481px) and (max-width: 1024px)'
);
